<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/screen.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">{{ site.name }}</a>
    </div>
    <ul class="nav">

    </ul>
</nav>

<div class="container">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
    </div>

    {{ content }}
</div>

<footer class="container">
<a href="https://github.com/sinker/tacofancy">sinker / tacofancy</a>
</footer>

</body>
</html>
