<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/screen.css">
</head>
<body>

<div class="container">
  <div class="header">
    <h2 class="title"><a href="/">{{ site.name }}</a></h2>
  </div>

  <h1>{{ page.title }}</h1>

  {{ content }}
</div>

<footer class="container">
<a href="https://github.com/sinker/tacofancy">tacofancy</a>
</footer>

</body>
</html>
